h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    text-indent: 25%;
    display: inline;
    float: left:
}
h2 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: right;
}